/native/include/hx/*.h
/native/include/steam/*.h
/native/lib/*
/native/obj
/native/all_objs
/native/*.pdb
/obj
temp/

temp64/

ndll/Windows/Windows\.zip

ndll/Windows64/steam_appid\.txt

ndll/Windows64/steamwrap\.ndll\.hash

ndll/Windows64/Windows64\.zip

ndll/Windows/steam_appid\.txt

ndll/Windows/steamwrap\.ndll\.hash

ndll/Linux64/Test\.sh

ndll/Linux64/Test

ndll/Linux64/libsteam_api\.so

ndll/Linux64/steam_appid\.txt

ndll/Linux64/steamwrap\.ndll\.hash
